# Google Gemini
GOOGLE_API_KEY=AIzaSyAXvN9OCCM2yTy312Q78I4HRBYSEGGAAPM

# Pinecone
PINECONE_API_KEY=pcsk_5TQvu4_PkkrceZoUkTZ2ZTxXWHacyu5NddfHHU8raT2ywh8Mb8FRXL9jXJxgWCBJhEctwx
PINECONE_INDEX=manim-examples

# Supabase
SUPABASE_URL=https://lwcwbuuiwpiahrwffwhl.supabase.co
SUPABASE_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6Imx3Y3didXVpd3BpYWhyd2Zmd2hsIiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc2NDE0NDg5NSwiZXhwIjoyMDc5NzIwODk1fQ.tMvoDomdgMj5G_0Nmun8r8sGBFH4u0GIZPQoEgLBNaQ
SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6Imx3Y3didXVpd3BpYWhyd2Zmd2hsIiwicm9sZSI6ImFub24iLCJpYXQiOjE3NjQxNDQ4OTUsImV4cCI6MjA3OTcyMDg5NX0.9zSl8Q8-9b4zyGatWBq8q09niFa5ex02Rd1uyMAZeGQ
SUPABASE_BUCKET=manim-videos

# Frontend
NEXT_PUBLIC_API_URL=http://localhost:8000
NEXT_PUBLIC_SUPABASE_URL=https://lwcwbuuiwpiahrwffwhl.supabase.co
NEXT_PUBLIC_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6Imx3Y3didXVpd3BpYWhyd2Zmd2hsIiwicm9sZSI6ImFub24iLCJpYXQiOjE3NjQxNDQ4OTUsImV4cCI6MjA3OTcyMDg5NX0.9zSl8Q8-9b4zyGatWBq8q09niFa5ex02Rd1uyMAZeGQ
